



h1{
    color:white;
    text-align: center;
}






body {
    background-image: url("https://i.pinimg.com/originals/e8/13/d5/e813d5a6ac37dd722503e24b55061b0e.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:floralwhite;
    background-size: cover;
    color:white;
}

