.head {
  border-style: hidden;
  padding: 20px 20px;
  font-size: 300%;
  position: center;
 text-align: center;
 text-shadow: -8px 8px rgba(179,179,179,.4), -8px 8px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
font-family: 'Lobster Two', cursive;
color: black;
font-size:500%;
background-image: url("https://www.netanimations.net/Animated-moving-clip-art-picture-of-soft-flaming-line.gif");
background-size: cover;
height:200px;
}





.img1 {
    text-align: center;
    border-radius: hidden;
   
    
}

.nav {
  text-align: center;
}
a {
    border-style: hidden outset;
    text-align: center;
    color:rgb(2, 1, 1);
    width: auto;
    background-color: clear;
    margin: 0;
    padding: 5;

  }
  
  a:hover{ 
    background-color:white;
    display:inline-block;
  }
  

  ul {
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    overflow: hidden;
   }
  
  li {
    text-align: center;
   display: inline;

  }
  
  li a {
    display: inline-flex;
    padding: 8px;
    
  }

#pic {
    background-image: url("images/IMG_6462 (2).jpg");
    background-size: cover;
    width: 400px;
   height: 400px;
   float: center;
   border-radius: 60%;
   transform: rotate(360deg);

}
 
#img2 {
  background-image: url("images/Augusta_15Jul19_12_1__1f006e40-4c83-4c0c-bdfc-83b3f7616258.jpg");
    background-size: cover;
    width: 200px;
   height: 200px;
   float:left;
   margin: 20px;
}

#img3 {
  background-image: url("images/fayetteville_opt_6.jpg");
  background-size: cover;
  width: 200px;
 height: 200px;
 float:left;
 margin: 20px;
}

#img4 {
  background-image: url("images/1_1526544551421_42819963_ver1.0.jpg");
  background-size: cover;
  width: 200px;
 height: 200px;
 float:left;
 margin: 20px;
}

#img5 {
  background-image: url("images/iStock-1161499220.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px;
}



.index {
   border-radius: 30px;
   background-image: linear-gradient(firebrick,gray,red);
   margin: 0px;
   padding: 0px;
   font-family: 'Great Vibes', cursive;
}


table th {
  padding: 20px;
  color: rgb(5, 5, 5);
  font-size: larger;
}

table td {
  padding: 20px;
  color: rgb(255, 255, 255);
}




.personal {
  
}


.project  {
background-color: white;
color: black;
}

